@charset "utf-8";
html,
body {
  height: 100%;
}
/* 
  -wibkit-transform: translateZ(0);
  transform: translateZ(0);
  translateZ 可以让手机启用gpu渲染模式,加快页面3d位移的流畅度,可能会让手机电量消耗加快
*/
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
.current {
  color: orange;
}
.lt_container {
  width: 100%;
  height: 100%;
  max-width: 640px;
  min-width: 320px;
  padding-top: 45px;
  padding-bottom: 55px;
  margin: 0 auto;
  background-color: pink;
  position: relative;
  /* 头部 */
  /* 主体 */
  /* 底部 */
}
.lt_container .lt_header,
.lt_container .lt_footer {
  width: 100%;
  position: absolute;
  left: 0;
  background-color: #006699;
  z-index: 999;
}
.lt_container .lt_header {
  top: 0;
  height: 45px;
  padding-left: 45px;
  padding-right: 55px;
  line-height: 45px;
}
.lt_container .lt_header .home,
.lt_container .lt_header .search {
  height: 100%;
  position: absolute;
  top: 0;
}
.lt_container .lt_header .home a,
.lt_container .lt_header .search a {
  display: block;
  text-align: center;
  color: #fff;
}
.lt_container .lt_header .home {
  width: 45px;
  left: 0;
}
.lt_container .lt_header .appTitle {
  width: 100%;
  height: 100%;
}
.lt_container .lt_header .appTitle h4 {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #fff;
  line-height: 45px;
}
.lt_container .lt_header .search {
  width: 55px;
  height: 100%;
  right: 0;
}
.lt_container .lt_body {
  width: 100%;
  height: 100%;
  position: relative;
}
.lt_container .lt_body .lt_nav {
  background-color: #fff;
  padding: 10px;
}
.lt_container .lt_body .lt_nav ul li {
  width: 33%;
  float: left;
}
.lt_container .lt_body .lt_nav ul li a {
  display: block;
  width: 100%;
  height: 100%;
}
.lt_container .lt_body .lt_nav ul li a img {
  display: block;
  width: 100%;
}
.lt_container .lt_body .lt_items {
  width: 100%;
  padding: 10px;
  background-color: #fff;
}
.lt_container .lt_body .lt_items ul li {
  width: 48%;
  border: 1px solid #ccc;
  float: left;
  margin-bottom: 10px;
}
.lt_container .lt_body .lt_items ul li:nth-child(odd) {
  margin-right: 4%;
}
.lt_container .lt_body .lt_items ul li a {
  display: block;
  padding: 10px;
  text-align: center;
}
.lt_container .lt_body .lt_items ul li a img {
  display: block;
  width: 100%;
}
.lt_container .lt_body .lt_items ul li a p span:first-child {
  color: red;
  margin-right: 10px;
}
.lt_container .lt_body .lt_items ul li a p span:last-child {
  text-decoration: line-through;
}
.lt_container .lt_body .lt_items ul li a button {
  color: #fff;
}
.lt_container .lt_footer {
  height: 55px;
  bottom: 0;
}
.lt_container .lt_footer ul {
  height: 100%;
}
.lt_container .lt_footer ul li {
  width: 25%;
  height: 100%;
  float: left;
}
.lt_container .lt_footer ul li.current a,
.lt_container .lt_footer ul li.current p {
  color: orange;
}
.lt_container .lt_footer ul li a {
  height: 100%;
  display: block;
  text-align: center;
  color: #fff;
  padding-top: 8px;
}
.lt_container .lt_footer ul li a i {
  font-size: 17px;
}
.lt_container .lt_footer ul li a p {
  color: #fff;
  margin-bottom: 0;
  font-size: 14px;
}
